* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 1169px;
}

.form {
  margin: 90px;
}

.form__greeting_grayword {
  font-size: 30px;
  color: gray;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
  }
  .form {
    margin: 0 auto;
    padding: 14px;
  }
}
